.button {
    vertical-align: top;
    background-color: #4CAF50;
    color: white;
    padding: 50px 10px;
    text-align: center;
    font-size: 16px;
    margin: 240px 0px;
    cursor: pointer;
}
.button2 {
    vertical-align: top;
    background-color: #ff4000;
    color: white;
    padding: 50px 10px;
    text-align: center;
    font-size: 16px;
    margin: 240px 0px;
    cursor: pointer;
}
